.editComp{
	width : 370px;
	height : 180px;
	z-index : 2;
	position : absolute;
	border : 1px solid #c0c0c0;
	border-radius: 0.8em;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #CCE5FF;
}

.editInput{
	display: block;
	margin : 10px 10px 30px 30px;
	width:300px;
	height:35px;
	padding-left: 10px;
}

.submit{
	margin-left: 30px;
	margin-right: 170px;
}

.dataCancel{

}

.textEdit{
	margin-left: 20px;
	margin-top: 20px;
}