.reverse{
	width: 400px;
	height: 95vh;
	border : 1px solid black;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
}

.content{
	height : 80vh;
	overflow-y:scroll;
}

.heading{
	text-align: center;
}

.item{
	background-color: #DCDCDC;
	border-radius: 0.6em;
	padding:0px 0px 2px 10px;
}

.subs{
	color:#808080;
	font-size: 15px;
}

.editCancel{
float:right;
font-size: 20px;
margin-right: 10px;
padding-right: 10px;
padding-left: 10px;
padding-top: 5px;
&:hover{
	cursor:pointer;
}
}

.dataDisplay{
	padding-top: 10px;
}